<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMS.SQLServer.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBMS.SQLServer.Properties.Settings.ConnectionString1"
            connectionString="Data Source=SIMTECH-L5500\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>